.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
!bootstrap-backend/terraform.tfvars.example

*.pem
*.key
.env
.DS_Store

node_modules/
__pycache__/
*.pyc
*.pyo
*.log

*.bak
